@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

.fi-simple-layout {
    @apply bg-cyan-100/50;
    background-image: url('../../../images/login_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fi-simple-main {
    @apply bg-purple-100/50;
}
